@import "tailwindcss";

@theme {
    --color-text-primary: #E6E6E6;
    --color-main-bg: #0f0f0f;
    --color-gray-button-bg: #262626;
    --color-outer-button-bg: #342BAD;
    --color-shadow-button-outer: #BB9BFF26;
    --color-text-notActive: #87899B;
    --color-auth-button-bg: #1460AD;
    --color-button-outline: #473DCB;
    --color-landing-icon: #A39DFF;
    --color-main-icon: #939597;
    --color-main-text: #BBD0E8;
    --color-dark-text: #9DA3B8;
    /* */
    --color-modal-button-bg: #004893;
    --color-chart-main: #4841A8;
    --color-chart-2nd: #FF928A;
    --color-chart-thard: #3CC3DF;
    --color-user-main-color: #1460AD;
    --color-profile-text-main: #ACC0D8;
}

.landing-shadow {
    box-shadow: -1px 0px 33px -2px rgba(89, 62, 92, 0.466);
    -webkit-box-shadow: -1px 0px 33px -2px rgba(89, 62, 92, 0.466);
    -moz-box-shadow: -1px 0px 33px -2px rgba(89, 62, 92, 0.466)
}

.gradient-text {
    font-size: 72px;
    background: -webkit-linear-gradient(right, #333, #eee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}